* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;

}


@font-face {
  font-family: dotfont;
  src: url(../../../font/Ndot-55.ttf);
}

@font-face {
  font-family: dothacker;
  src: url(../../../font/Ndot-hacker.ttf);
}


.container {
  background-color: black;
  height: 100vh;
  display: flex;

}

.logo {
  height: 100vh;
  width: 30%;
  object-fit: cover;
}

.second-part {
  margin: auto;


}

.file-part {
  height: 40vh;
  width: 50vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.file-part h1 {
  font-size: 50px;
  font-family: dotfont;
  padding: 10px;
  word-wrap: break-word;
  
  /* transition: all ease 5s; */

}

/* .file-part h1:hover{
  font-size: 500px;
  transition: all ease 5s;
} */


.file-part p {
  font-size: 25px;
  font-weight: 800;
  font-family: dothacker;
  padding-bottom: 10px;
}

.file-part button {
  font-size: 25px;
  font-family: dotfont;
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
  transition: all ease 0.5s;


}

.file-part button:hover {
  background-color: aqua;

}


.a-tag{
  font-size: 25px;
  margin-top: 25px;
  padding:0px 50px;

  word-break: break-all;
}










.footer-ownername{
  position: absolute;
  bottom: 2%;
  right: 5%;
  display: flex;
  flex-direction: column;
}

.footer-ownername p{
  color: white;
  font-family: dothacker;
  font-weight: 600;
}
.footer-ownername p span{
  color: aqua;
  font-size: 25px;
  padding-right: 5px;
}
